.main-container-contact{
	margin-top:100px;
	font-family: serif;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.main-container-contact .container {
	width: 100%;
	max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container .row {
	text-align: center;
}

.container .input-div {
	padding: 12px 5px 5px 5px;
	margin: 1px 1px 1px 1px;
}
.container .input-label {
	font-weight: bold;
	display: inline-flex;
    text-align: center;
    width: 100px;
}
.container input[type=text] {
    margin: 8px 0;
    width: 25%;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.container select {
    margin: 8px 0;
    width: 25%;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.container input[type=text]:focus {
	background-color: lightblue;
}

.container input:focus {
	background-color: lightblue;
}

.container input:focus-visible {
    outline: 1px solid #ddd;
    border-radius: 3px;
}

.container select:focus-visible {
    outline: 1px solid #fff;
    border-radius: 3px;
}